.main{
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 50px;
    margin-top: 30px;
}
.sub{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 1519px;
    overflow-x: scroll;
    gap: 10px;
}
.mid{
    /* border: 1px solid green; */
    width: 350px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imag1{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
.up{ 
    /* border: 1px solid red; */
    margin-left: 300px;
}
/* .up1{
    border: 1px solid blue;
} */


