.main{
    border: 1px solid red;
}
.sub{
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 1519px;
    overflow-x: scroll;
    gap: 10px;
}
.mid{
    border: 1px solid green;
}
.imag1{
    height: 300px;
    width: 100%;
}